{% extends "gestion/index.html" %}

{% block menuPrincipal %}

<a href="/administrador/productos/" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init aria-current="true">
  <i class="fas fa-tag fa-fw me-3"></i><span>Productos</span>
</a>
<a href="/administrador/categorias/" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
  <i class="fas fa-list fa-fw me-3"></i><span>Categorias</span>
</a>
<a href="/administrador/usuarios/" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
    class="fas fa-users fa-fw me-3"></i><span>Usuarios</span></a>
<a href="/administrador/pedidos/" class="list-group-item list-group-item-action py-2 active" data-mdb-ripple-init><i
    class="fas fa-truck fa-fw me-3"></i><span>Pedidos</span></a>
<a href="/administrador/ventas/" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
  <i class="fas fa-chart-pie fa-fw me-3"></i><span>Ventas</span>
</a>

{% endblock %}

{% block content %}

<div class="container pt-4">
    <!-- Section: Peidos realizados -->
    <section class="mb-4">
      <div class="card">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Pedidos</strong>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th scope="col">Número de pedido</th>
                  <th scope="col">Responsable</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1001</th>
                  <td>Sandra Orozco</td>
                  <td>$40.500</td>
                  <td>Pendiente</td>
                </tr>
                <tr>
                  <th scope="row">1005</th>
                  <td>Liliana Lopez</td>
                  <td>$67.500</td>
                  <td>Pendiente</td>
                </tr>
                <tr>
                  <th scope="row">1040</th>
                  <td>Sandra Orozco</td>
                  <td>$354.300</td>
                  <td>Entregado</td>
                </tr>
                <tr>
                  <th scope="row">1090</th>
                  <td>Brandon Gomez</td>
                  <td>$403.500</td>
                  <td>Pendiente</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Pedidos realizados -->

    
  </div>

{% endblock %}